/* CSS Document */
@import url(reset.css);
/*全局*/
html{background:#4496d3;font-family:"微软雅黑", "宋体";}

/*login*/
#login-body{width:100%;min-width:1280px;height:800px;background:url(image/login-bg.png) no-repeat 0 -50px;}
#login-body h1{display:none;}
#login{position:absolute;top:370px;left:670px;width:300px;color:#11a9e3;font-size:14px;font-weight:bold;}
#username,#password{width:150px;height:20px;border:1px solid #a1baff;padding-left:20px;line-height:20px;}
#username{background:url(image/userinput-icon.png) no-repeat;}
#password{background:url(image/passwordinput-icon.png) no-repeat;margin-left:-1px;}
#checkcode{width:70px;height:20px;border:1px solid #a1baff;line-height:20px;}
#check{position:absolute;left:145px;top:50px;}
#login_btn{width:152px;height:28px;border:0;background:url(image/submit-btn.png) no-repeat;text-indent:-9999px;margin:10px 0 0 40px;cursor:pointer;}

/*head*/
#header_area{position:relative;width:100%; min-width:1250px;height:161px;background:url(image/header-bg.png) no-repeat;}
#header_area h1{display:none;}
#welcome{color:#fff;font-size:14px;font-weight:bold;position:absolute;left:420px;top:80px;}
#admin_nav{display:block;width:300px;height:20px;float:right;margin-top:5px;}
#admin_nav li{display:inline-block;}
#admin_nav li{*display:inline;}
#admin_nav li a{display:block;width:70px;height:20px;color:#333;font-size:13px;*font-size:12px;font-weight:bold;text-decoration:none;padding-left:20px;line-height:22px;*line-height:24px;}
#admin_nav li a:hover{color:#990000;text-decoration:underline;}
#user_data{background:url(image/user-icon.png) no-repeat;}
#maneger{background:url(image/set-icon.png) no-repeat;}
#exit{background:url(image/exit-icon.png) no-repeat;}
#main_nav{position:absolute;right:0;top:110px;display:block;width:870px;height:50px;}
#main_nav li{display:inline-block;}
#main_nav li{*display:inline;}
#main_nav li a{display:block;width:111px;height:38px;background:url(image/nav-item-bg.png) no-repeat;color:#222;font-size:14px;font-weight:bold;text-decoration:none;text-align:center;line-height:30px;margin:5px 20px;}
#main_nav li a:hover{background:url(image/nav-item-down-bg.png) no-repeat;color:#dff;}
.nav-selected{background:url(image/nav-item-down-bg.png) no-repeat !important;color:#dff !important;}
#gteam_info{position:absolute;bottom:65px;right:15px;color:#fff;font-size:12px;}
#gteam_info a{font-weight:bold;color:#FFFFFF;text-decoration:none;}
#gteam_info a:hover{color:#FF3300;text-decoration:underline;}

/*leftbar*/
#leftbar{position:relative;width:20%;min-width:250px;height:1000px;background:url(image/bg.png) no-repeat;}
#sub_nav{position:absolute;display:block;width:205px;height:350px;margin-top:40px;margin-left:20px;}
.sub_nav_item{display:block;width:201px;height:42px;margin:20px 0 0 0;background:url(image/leftbar-item-bg.png) no-repeat;font-size:14px;font-weight:bold;color:#222;text-decoration:none;text-align:center;line-height:38px;}
.sub_nav_item_alt{display:block;width:201px;height:42px;margin:20px 0 0 0;background:url(image/leftbar-item-bg.png) no-repeat;font-size:14px;font-weight:bold;color:#222;text-decoration:none;text-align:center;line-height:38px;cursor:pointer;}
.sub_nav_selected_alt1,.sub_nav_selected_alt2{display:block;width:201px;height:42px;margin:30px 0 0 0;font-size:14px;font-weight:bold;color:#222;text-decoration:none;text-align:center;line-height:38px;background:url(image/sndleftbar-item-down-bg.png) no-repeat !important;cursor:pointer;}

.approval,.dorm_manage{display:none;width:154px;height:150px;background:url(image/subnav-bg.png) no-repeat;margin:-8px 0 0 33px;}
.approval li,.dorm_manage li{width:150px;border-bottom:1px solid #eee;}
.approval a,.dorm_manage a{display:block;padding:6px 7px 3px 5px;color:#221;font-size:12px;text-decoration:none;}
.approval a:hover,.dorm_manage a:hover{padding:6px 10px 3px 10px; font-weight:bold;}
/*main content*/

#content{position:relative;width:80%;min-width:1000px;min-height:1000px;margin-left:250px;margin-top:-1000px;background:url(image/bg.png) no-repeat;}
#content h1{display:block;width:1000px;height:30px;margin:8px auto; text-align:center;color:#eed;font-size:20px;font-weight:bolder;}
#info_input{width:1000px;}
#basic_info,#home_info,#incampus_info,#stay_info,#other_info{display:inline-block; width:360px;height:190px;margin-left:88px;border:1px solid #BFD0E5;padding:8px 0 0 10px;}
#basic_info,#home_info,#incampus_info,#stay_info,#other_info{display:inline;}
#basic_info legend,#home_info legend,#incampus_info legend,#stay_info legend,#other_info legend{color:#eee;font-size:18px;font-weight:bold;}
#basic_info label,#home_info label,#incampus_info label,#stay_info label,#other_info label{font-size:12px;}
#Remark{ vertical-align:bottom;}
#submit{position:absolute;left:420px;bottom:295px;border:0;display:block;width:158px;height:37px;background:url(image/btn-bg.png) no-repeat;cursor:pointer;color:#111;font-size:16px;font-weight:bold;}




#index_content{width:100%;min-width:1250px;height:623px;background:url(image/index-content-bg.png) no-repeat center;}
#index_content h2{display:none;}

/*error.php*/
#errorbox{position:relative;color:#fff;width:300px;height:130px;background:#C6C6C6 url(image/error-bg.png) no-repeat 0 11px;padding-left:135px;padding-top:20px;margin:200px auto;border:1px solid #oof;}
#errorbox a{color:#f0f;position:absolute;bottom:20px;}

#main_nav li .clicked {background:url(image/nav-item-down-bg.png) no-repeat;color:#dff;}

#apartpropagate #leftbar{position:relative;width:20%;min-width:250px;height:1200px;background:url(image/bg.png) no-repeat;}
#apartpropagate #content{position:relative;width:80%;min-width:1000px;min-height:1200px;margin-left:250px;margin-top:-1200px;background:url(image/bg.png) no-repeat;}
.division{border-color:#CCCCCC #BEC6CE #BEC6CE #CCCCCC;border-style:solid;border-width:1px 2px 2px 1px;padding:5px;background:#fff;}
.table_title{width:1000px;text-align:center;padding:10px 0;font-size:22px;font-weight:bold;}
.table{width:750px;margin-left:100px;margin-top:20px;}
.table table{width:735px;font-size:12px;}
.table table th{height:30px;width:150px;background:#E2E8EB;border-right:1px solid #ccc;border-bottom:1px solid #fff;text-align:right;}
.table table td{border-color:#DDDDDD;border-style:solid;border-width:1px;padding:5px;}
.table h3{width:750px;padding:4px 0;color:#eee;font-size:12px;font-weight:bold;}

#btns{margin-left:400px;padding:10px;}
#btns input{width:158px;height:37px;border:0;background:url(image/btn-bg.png) no-repeat;font-size:14px;font-weight:bold;cursor:pointer;}
.discription{margin-left:10px;}










